/* This is where I will define base styles for all standard html elements */
@import "vars";
@import "mixins";
*{
  font-size:$font-size-default;
  font-family:$font-family;
}

body {
  font-size:1rem;
}

p {
  letter-spacing: 0.01rem;
}

img {
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
}