/* This is where I will define all the default variables like fonts, colors, etc. */
$font-size-default: 16px !default;
$font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !default;

$base-color-primary: #fff59d;
$base-color-primary-dark: #fdd835; //#cbc26d looks too yucky!
$base-color-primary-light: #fffde7; // #ffffcf;
$base-color-secondary: #a5d6a7;
$base-color-secondary-light: #d7ffd9;
$base-color-secondary-dark: #75a478;

//very light yellow : #fffde7
//very light green : #e8f5e9

