---
layout: base-template
---

{% include navbar.html %}
<div class="container-fluid mt-1">
  <div class="row section-row-bg m-1">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">{% include usp.html %}</div>
    <div class="col-lg-5 mx-auto p-0">{% include landing-page-image.html %}</div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row section-row-alt-bg m-1">
    <div class="container-fluid">
      <div class="row  mt-1 mb-1">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">DID YOU KNOW?</div>
        <div class="col-lg-5"></div>
      </div>
      <div class="row  mt-1 mb-1">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          An avocado tree has consumed 100,000 gallons of water by the time it bears fruit? Save the
          planet! Find out more <u>here!</u>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>
  <div class="row section-row-bg m-1">
    <div class="container-fluid">
      <div class="row  mt-1 mb-1">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">DON'T LISTEN TO US...</div>
        <div class="col-lg-5"></div>
      </div>
      <div class="row  mt-1 mb-1">
        <div class="col-lg-4">Oh my god, Shilpa is amazing! -- Sandra</div>
        <div class="col-lg-4">You have to get in touch with Shilpa now! -- Cassandra</div>
        <div class="col-lg-4">What are you waiting for ?! -- Alexandra</div>
      </div>
    </div>
  </div>
</div>
